.add-cell {
  position: relative;
  opacity: 0;
  margin: 10px 0;
  transition: all 0.3s ease-in 0.1s;

  &:last-of-type,
  &.force-visible,
  &:hover {
    opacity: 1;
  }

  .add-buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0 20px;
    }
  }

  .divider {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 2.5%;
    left: 2.5%;
    border-bottom: 1px solid gray;
    width: 95%;
    z-index: -1;
  }
}
